.home-body{
    display: grid;
    min-height: 100vh;
    min-width: 100vw;
    grid-template-columns: repeat(3, 33.3333%);
    grid-template-rows: repeat(12, 8.3333%);
    
}
.name > h1 {
    font-size: 2em;
    color: aliceblue;
}
.name {
    position: relative;
    place-self: center;
    grid-column: 2;
    grid-row: 4;
    color: aliceblue;
    
}
.main_name{
    color: #30e6e2;
}
.surname {
  color: #30e6e2;
}
.static-text {
  color: whitesmoke;
}
.wrapper{
    grid-column: 2;
    grid-row: 7;
}
.typing-demo {
  position: absolute;
  color: aliceblue;
  width: 23em;
  animation: typing 2s steps(22), blink 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  font-family: monospace;
  font-size: 2em;
  
}
.getintouch{
    grid-column: 1;
    grid-row: 6;
}
.getintouch > button {
    position: relative;
  /* background-color: #30e6e2; */
  grid-column: 1;
    grid-row: 6; 
}
